@page "todo"
<h3>ToDo</h3>
<!...Edit Form...>
<EditForm model="task" OnValidSubmit="AddTask">
    <input type="text" @bind-value="task.TaskName"  />
    <button>Add Task</button>

</EditForm>
<ul>
    @foreach (var taskitem in taskList)
    {
        if(Taskitem.IsComplete)
        {
            <!...Task Completed...>
            <li>@taskitem.TaskName</li>
        }
                else
                {
                    <!...Task Not Completed...>
                    <li>@taskitem.TaskName</li>
                }
            

    }




</ul>


                @code {
                protected List<TaskModel> taskList = new List<TaskModel>();
            protected TaskModel task = new TaskModel();
            private void AddTask()
            {}
}
